.item {
  /* background-color: #5c784c; */
  position: relative;
  min-width: 120px;
  height: 120px;
  overflow: visible;
  border-radius: 20px;
  margin: 3px;
  width: max-content;
  width: 8.5rem;
  display: inline-block;
  /* color: #413e20; dungeon */
  /* color: #3ea413; dungeon */
  /* color: #78ddff; dungeon */
  /* color: #ff6128; dungeon */
  /* color: #a856ff; dungeon */
  /* color: #ffe677; items */
  /* color: #4d472d; items */
  /* color: #d7ca92; items */
  /* color: #3c2d4d; ally */
  /* color: #4b2774; ally */
  /* color: #275674; ally */
  /* color: #746727; ally */
  /* color: #745c27; ally orange */
  /* color: #4a7427; ally */
  /* color: #742727; ally */
  /* color: #f1c7a8;  */
}

.bar {
  border-radius: 20px 20px 0 0;
  /* overflow: hidden; */
  position: absolute;
  /* height: 4.2em; */
  height: 4.2rem;
  box-shadow: #ffffffbb 0 2px 1px 0px;
  /* min-height: 4em; */
  /* height: min-content; */
  top: 0;
  left: 0;
  width: 120px;
  /* background-color: #ffffff42; */
  background-color: #ffffffbb;
  text-align: left;
  z-index: 2;
  /* overflow: hidden; */
  overflow: visible;
}
.iconBag {
  bottom: 2px;
  left: 2px;
  width: 116px;
  height: 3.16em;
  padding: 4px;
  display: flex;
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  flex-flow: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  column-gap: 3px;
  border-radius: 0 0 20px 20px;
  /* background-color: red; */
}
.button {
  overflow: visible;
  position: absolute;
  top: 0px;
  right: -4px;
  /* right: 0.8rem; */
  margin: 0px 4px 1px 0px;
  width: 3rem;
  height: 2.4rem;
  /* display: inline; */
  justify-content: center;
  border: transparent;
  border-radius: 0 20px;
  font-size: 2.4rem;
  line-height: 2rem;
  /* overflow: hidden; */
  z-index: 4;
  cursor: pointer;
  transition: 250ms;
}

.selected {
  background-color: #c3ff91;
  box-shadow: -1px 0px 14px 6px #7ae621;
  /* box-shadow: 1px 1px 1px red; */
}
.text {
  margin: 2px 4px;
  display: inline;
}
.level {
  position: absolute;
  top: 2px;
  left: -6px;
  left: 0px;
  height: 1rem;
  height: 2rem;
  width: 3.7rem;
  width: 3.9rem;
  /* border-radius: 18px 0 0 0; */
  overflow: hidden;
  /* margin: 10px 0px; */
  /* display: inline; */
  /* background-color: aqua; */
  font-size: 1.6em;
  text-align: right;
  text-align: center;
  text-align: left;
  /* width: 100%; */
  display: block;
  margin: 0px 0.5rem;
  z-index: 3;
  /* background-color: red; */
}
.name {
  min-width: 120px;
  position: absolute;
  bottom: -0.06rem;
  display: block;
  /* background-color: red; */
  color: #000000a0;
  /* margin-top: 1rem;
  margin: 0 auto; */
  /* min-height: 1em;
  max-height: 2em; */
  height: 1.73rem;
  /* background-color: aqua; */
  text-align: center;
  /* padding-bottom: 6px; */
  font-weight: bold;
  z-index: 3;
  line-height: 0.84rem;
  text-align: center;
  overflow: hidden;
}
