.dice {
  z-index: 4;
  position: relative;
  display: block;
  /* min-width: 0.7rem; */
  min-width: 0.3rem;
  max-width: 2rem;
  height: 1rem;
  margin: 0;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  padding: 2px 3px 0px 6px;
  padding: 2px 1px 0px 7px;
  line-height: 1.3rem;
  line-height: 1.2rem;
  font-size: 1rem;
}
.dice::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 30%;
  height: 30%;
  left: 8px;
  top: 11px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: #fff 0px 0px 5px 5px;
  /* background-color: #ff0000d0; */
  opacity: 45%;
}
.dice::before {
  border-radius: 3px;
}
.icon {
  z-index: -1;
  position: absolute;
  height: 1.2rem;
  left: -3px;
  top: 1px;
  border-radius: 4px;
  opacity: 38%;
  overflow: hidden;
  font-size: 0.7rem;
}
/* .random::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  border-radius: 0px 22px 22px 42px;
  background-color: #7fd959;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #baff8d 0px 0px 2px 1px;
} */
/* .full::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  border-radius: 3px;
  background-color: #00ffd9;
  box-shadow: #9dfff58d 0px 0px 1px 1px, #8fffe1 0px 0px 4px 2px,
    inset #ecfffa 0px 0px 2px 3px, #3636368d 0px 0px 1px 1px;
} */
/* .half::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  border-radius: 3px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #f4e98b 0px 0px 2px 1px;
  background-color: #d8b382;
} */
/* .empty::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  border-radius: 3px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ff9b85 0px 0px 2px 1px;
  background-color: #c37d75;
} */

.physical::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  box-shadow: inset #fccc2e 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #f1c994 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #f4e98b 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #fcff5a 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ffba5a 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ff945a 0px 0px 2px 1px;
  background-color: #fcff5a;
  background-color: #d8b382;
  background-color: #ffcb1f;
  background-color: #fc2e2e;
  background-color: #fc3c2e;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #fcff5a 0px 0px 2px 1px;
  background-color: #ffcb1f;
}

.magic::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  box-shadow: inset #fccc2e 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #f1c994 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #f4e98b 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #7ffff0 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #b9ffea 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ffdad1 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #fffdef 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ffbfef 0px 0px 2px 1px;
  background-color: #fcff5a;
  background-color: #d8b382;
  background-color: #2ec5fc;
  background-color: #3dcbff;
  background-color: #ea8aff;
  background-color: #ff6bf0;
  background-color: #ff55ee;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #b9ffea 0px 0px 2px 1px;
  background-color: #52d5f6;
}
.elemental::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  box-shadow: inset #e24533 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #e0967f 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ff9b85 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ffd25f 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ffba5a 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ffba5a 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ff805a 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ff5a5a 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #fffdef 0px 0px 2px 1px;
  background-color: #e24533;
  background-color: #c37d75;
  background-color: #ff805a;
  background-color: #fc2eda;
  background-color: #fc2e2e;
  background-color: #fc952e;
  background-color: #bba8cc;
  background-color: #aaa8cc;
  background-color: #91ead8;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ffe9bd 0px 0px 2px 1px;
  background-color: #ff79ba;
}
.trait::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  box-shadow: inset #fccc2e 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #f1c994 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #f4e98b 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #fcff5a 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #e45aff 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #9fff5a 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #daff62 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ffba5a 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #fffdef 0px 0px 2px 1px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #fcff5a 0px 0px 2px 1px;
  background-color: #fcff5a;
  background-color: #d8b382;
  background-color: #fccc2e;
  background-color: #d32efc;
  background-color: #ddfc2e;
  background-color: #87fc2e;
  background-color: #67cf19;
  background-color: #fc2eda;
  background-color: #fc2e2e;
  background-color: #bba8cc;
  background-color: #ea8aff;
  background-color: #ffcb1f;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #f6ff00 0px 0px 2px 1px;
  background-color: #799e00;
}

.any::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  background-color: #ea8aff;
  background-color: #ffcb1f;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #fffdef 0px 0px 2px 1px;
  background-color: #bba8cc;
  background-color: #c9c6bd;
}
.notRolled::before {
  border-radius: 0px 22px 22px 42px;
}
