.dice {
  z-index: 4;
  position: relative;
  display: block;
  /* min-width: 0.7rem; */
  min-width: 0.3rem;
  max-width: 2rem;
  height: 1rem;
  margin: 0;
  color: black;
  border-radius: 4px;
  display: flex;
  padding: 2px 1px 0px 7px;
  line-height: 1.2rem;
  font-weight: bold;
  font-size: 1rem;
  /* animation-duration: 1s;
  animation-delay: 1s;
  animation: rotate 1s normal; */
}
/* @keyframes rotate {
  0% {
    transform: scale(0.01) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
} */
.dice::before {
  border-radius: 3px;
}
.icon {
  z-index: -1;
  position: absolute;
  height: 1.2rem;
  left: -3px;
  top: 1px;
  border-radius: 4px;
  opacity: var(--dice-icon-opacity);
  overflow: hidden;
  font-size: 0.7rem;
}
/* .random::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  border-radius: 0px 22px 22px 42px;
  background-color: #7fd959;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #baff8d 0px 0px 2px 1px;
} */
/* .full::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  border-radius: 3px;
  background-color: #00ffd9;
  box-shadow: #9dfff58d 0px 0px 1px 1px, #8fffe1 0px 0px 4px 2px,
    inset #ecfffa 0px 0px 2px 3px, #3636368d 0px 0px 1px 1px;
} */
/* .half::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  border-radius: 3px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #f4e98b 0px 0px 2px 1px;
  background-color: #d8b382;
} */
/* .empty::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  border-radius: 3px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ff9b85 0px 0px 2px 1px;
  background-color: #c37d75;
} */

.physical::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #fcff5a 0px 0px 2px 1px;
  background-color: #ffcb1f;
}

.magic::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #b9ffea 0px 0px 2px 1px;
  background-color: #52d5f6;
}
.elemental::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ffe9bd 0px 0px 2px 1px;
  background-color: #ff79ba;
}
.trait::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #f6ff00 0px 0px 2px 1px;
  background-color: #799e00;
}

.any::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  /* box-shadow: #3636368d 0px 0px 1px 1px, inset #fffdef 0px 0px 2px 1px; */
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ffffffe6 0px 0px 1px 1px,
    inset #ff00f2 -1px -2px 2px -1px, inset #ffee00 2px -1px 2px -1px,
    inset #4dff00 1px 2px 2px -1px, inset #00d9ff -2px 1px 2px -1px,
    inset #001d1439 0px 0px 2px 1px;
  /* background-color: #bba8cc; */
  background-color: #c9c6bd;
}
.dice::after {
  z-index: -1;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: #fff -1px 0px 3px 2px;
  width: 2%;
  height: 60%;
  left: 0.65rem;
  top: 0.38rem;
  opacity: 100%;
  transition: ease-in-out 300ms;
}
.physical::after {
  background-color: #fff8a7;
  box-shadow: #fff8a7 -1px 0px 3px 2px;
}
.magic::after {
  background-color: #b9ffea;
  box-shadow: #b9ffea -1px 0px 3px 2px;
  /* box-shadow: #bc0000 0px 0px 5px 5px; */
}
.elemental::after {
  background-color: #ffe9bd;
  box-shadow: #ffe9bd -1px 0px 3px 2px;
}
.trait::after {
  background-color: #c2e54e;
  box-shadow: #c2e54e -1px 0px 3px 2px;
  opacity: 70%;
}
.notRolled::before {
  border-radius: -1px 22px 22px 42px;
}
