.body {
  width: 100%;
  box-sizing: border-box;
  /* background-color: #b5ff547b; */
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  padding: 12px;
  /* box-shadow: var(--box-shadow-inset-dark); */
  border-radius: 20px;
}
.piece {
  /* background-color: #eecef7; */
  position: relative;
  display: block;
  display: flex;
  border-radius: 20px;
  /* overflow: hidden; */
  height: 2.4rem;
  height: 2.8rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  box-shadow: var(--box-shadow-detailed);
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 5px 2px;
  padding: 0 2px;
  font-size: 1rem;
  background-color: #ffffff2f;
  transition: ease-in-out 300ms;
}
.displayedBodyPart {
  z-index: 4;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 20px 0 0 20px;
  border-radius: 0 20px;
  border: transparent;
  margin: 0px 4px 1px 0px;
  padding-right: 3px;
  /* box-shadow: var(--box-shadow); */
  justify-content: center;

  position: absolute;
  top: 0rem;
  left: -0.1rem;
  justify-content: center;
  font-size: 1.1rem;
  line-height: 1rem;
}
.displayedBodyPart::after {
  border-radius: 0 0 20px 0;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004c;
}
.modifierHolder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  display: flex;
  padding: 2px 2px 2px 1px;
  box-sizing: border-box;
}
.modifier {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  border-radius: 30%;
  max-width: 0.88rem;
  height: 0.94rem;
  line-height: 0.8rem;
  font-size: 0.86rem;
  white-space: nowrap;
  overflow: visible;
  overflow: hidden;
}
.x2 {
  background-color: #ffbe3ba4;
  box-sizing: border-box;
  /* border: 1px solid #ff0000; */
  position: relative;
  left: 1px;
  width: min-content;
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow-inset-dark), 0px 0px 2px 0px #8e6f00;
}
.requiredHolder {
  z-index: 1;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1px;
  /* background-color: red; */
}
.req {
  position: relative;
  top: 0;
  left: -1px;
  display: block;
  box-sizing: border-box;
  border-radius: 30%;
  min-width: 0.88rem;
  width: min-content;
  /* max-width: 1.2rem; */
  height: 0.94rem;
  line-height: 0.8rem;
  font-size: 0.86rem;
  white-space: nowrap;
  overflow: visible;
  /* background-color: burlywood; */
}
.diceHolder {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  padding: 2px 5px;
  padding: 1px 5px 7px 5px;
  box-shadow: var(--box-shadow-inset-dark-detailed);
  border-radius: var(--border-radius);
  /* border: var(--border-inset); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  min-width: 2rem;
  cursor: pointer;
}
.damageHolder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  display: flex;
  padding: 2px 2px 2px 1px;
  box-sizing: border-box;
}
.dmg {
  position: relative;
  top: 0;
  left: -1px;
  display: block;
  box-sizing: border-box;
  border-radius: 30%;
  max-width: 0.88rem;
  height: 0.94rem;
  line-height: 0.8rem;
  font-size: 0.86rem;
  white-space: nowrap;
  overflow: visible;
}
.disabled {
  background-color: #ffffff2f;
  opacity: 90%;
}
.disabled .damageHolder {
  /* visibility: hidden; */
  /* width: 0.4rem; */
}
.disabled .dmg {
  /* display: none; */
}

.disabled .diceHolder {
  min-width: 0;
  width: 1.5rem;
  /* hide whole div but it still takes space */
  /* visibility: hidden; */
  cursor: not-allowed;
}
/* .disabled .diceHolder > div {
  opacity: 90%;
} */
.disabled::after {
  z-index: 150;
  /* disabled piece */
  border-radius: 20px;
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #434343;
  background-color: #441111;
  opacity: 40%;
  box-shadow: var(--box-shadow);
  cursor: not-allowed;
}
/* .piece { */
.fulfilled {
  /* fulfilled piece */
  background-color: #fcfbdb5d;
  background-color: #fcfbdbc2;
  background-color: #d0ff92c2;
  background-color: #85ce25e2;
  background-color: #62a807c6;
  opacity: 80%;
  opacity: 70%;
}
.fulfilled .diceHolder > div {
  opacity: 60%;
}

.fulfilled .dmg,
.fulfilled .modifier {
  display: none;
}

.fulfilled:hover .dmg,
.fulfilled:active .dmg,
.fulfilled:focus .dmg,
.fulfilled:hover .modifier,
.fulfilled:active .modifier,
.fulfilled:focus .modifier,
.fulfilled:hover .diceHolder > div,
.fulfilled:active .diceHolder > div,
.fulfilled:focus .diceHolder > div {
  /* width: fit-content; */
  display: block;
  opacity: 100%;
}

.fulfilled:hover,
.fulfilled:active,
.fulfilled:focus {
  opacity: 100%;
  background-color: #b9ff5ed5;
}
/* .piece { */
.waiting {
  /* piece waiting to be fulfilled */
  background-color: #fffed6df;
}
