.body {
  width: 100%;
  box-sizing: border-box;
  /* background-color: #b5ff547b; */
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  padding: 12px;
  /* box-shadow: var(--box-shadow-inset-dark); */
  border-radius: 20px;

  padding: 0.5rem 0;
  width: fit-content;
  margin: 0 auto;
}
.piece {
  /* background-color: #eecef7; */
  position: relative;
  display: block;
  display: flex;
  border-radius: 20px;
  /* overflow: hidden; */
  height: 2.4rem;
  height: 2.8rem;
  height: 3.2rem;
  width: min-content;
  line-height: 2.5rem;
  font-size: 1.5rem;
  box-shadow: var(--box-shadow-detailed);
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 5px 2px;
  padding: 0 2px;
  font-size: 1rem;
  /* background-color: #ffffff2f; */
  /* background-color: #00f2ff59; */
  /* background-color: transparent; */
  transition: ease-in-out 300ms;
}
.displayedBodyPart {
  z-index: 4;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 20px 0 0 20px;
  border-radius: 0 20px;
  border: transparent;
  margin: 0px 4px 1px 0px;
  padding-right: 3px;
  /* box-shadow: var(--box-shadow); */
  justify-content: center;

  position: absolute;
  top: -0.1rem;
  left: -0.2rem;
  justify-content: center;
  font-size: 1.1rem;
  line-height: 1rem;
}
.displayedBodyPart::after {
  border-radius: 0 0 20px 0;
  content: "";
  position: absolute;
  left: 0;
  top: 0.1rem;
  width: 100%;
  height: 1.2rem;
  background-color: #0000004c;
  /* background-color: transparent; */
  /* background-color: #2ac4004c; */
}
.modifierHolder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  width: max-content;
  display: flex;
  padding: 2px 3px 2px 1px;
  /* padding: 2px 1rem 2px 1px; */
  box-sizing: border-box;
}
.modifier {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  border-radius: 30%;
  /* max-width: 0.88rem; */
  width: 0.88rem;
  height: 0.94rem;
  line-height: 0.8rem;
  font-size: 0.86rem;
  white-space: nowrap;
  overflow: visible;
  overflow: hidden;
}
.x2 {
  background-color: #ffbe3ba4;
  box-sizing: border-box;
  /* border: 1px solid #ff0000; */
  position: relative;
  left: 1px;
  width: min-content;
  width: 0.88rem;
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow-inset-dark), 0px 0px 2px 0px #8e6f00;
}
.middleContainer {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: max-content;
  box-shadow: var(--box-shadow-inset-dark-detailed);
  border-radius: var(--border-radius);
  cursor: pointer;
  /* background-color: #fff1295d; */
}
.requiredHolder {
  z-index: 0;
  position: relative;
  bottom: 0.47rem;
  bottom: 0.86rem;

  height: 1.4rem;
  /* width: 100%; */
  /* min-width: max-content; */
  min-width: min-content;
  /* min-width: 100%; */
  padding: 0;
  padding: 0 0.4rem;
  margin: 0 auto;
  box-sizing: border-box;

  display: flex !important;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;

  overflow: hidden;
  /* opacity: 50% !important; */
  /* background-color: #7b00ff9e; */
  /* background-color: transparent !important; */
}
/* .req {
  position: relative;
  top: 0;
  left: -1px;
  display: block;
  box-sizing: border-box;
  border-radius: 30%;
  min-width: 0.88rem;
  width: min-content;
  height: 0.94rem;
  line-height: 0.8rem;
  font-size: 0.86rem;
  white-space: nowrap;
  overflow: visible;
} */
.diceHolder {
  z-index: 2;
  position: relative;
  /* right: 0;
  left: 0; */
  /* left: 0.2rem; */
  top: -0.36rem;
  box-sizing: border-box;
  /* overflow: hidden; */
  padding: 0px 2px 5px 5px;
  padding: 0 0 5px 2px;
  padding: 0 0.1rem 0.4rem 0.4rem;
  width: 100%;
  /* min-width: 100%; */
  /* width: min-content; */
  height: 2.6rem;
  height: 3rem;
  /* height: min-content; */
  /* width: -webkit-min-content;
  width: -moz-min-content;
  width: -ms-min-content;
  width: min-content; */
  /* height: -webkit-min-content;
  height: -moz-min-content;
  height: -ms-min-content;
  height: min-content; */

  display: flex;
  gap: 0.1rem;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  /* justify-content: center; */

  display: -webkit-box; /* For older versions of Edge */
  display: -ms-flexbox; /* For newer versions of Edge */
  -ms-flex-wrap: wrap; /* For newer versions of Edge */
  -ms-flex-direction: column; /* For newer versions of Edge */
  -ms-flex-wrap: wrap-reverse; /* For newer versions of Edge */
  -ms-flex-direction: column-reverse; /* For newer versions of Edge */
  -ms-justify-content: flex-start; /* For newer versions of Edge */
  -ms-align-items: center; /* For newer versions of Edge */

  cursor: pointer;
  /* background-color: #ff29ff5d; */
  /* transform: scale(0.9); */
}
.damageHolder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  height: 100%;
  /* max-width: 100%; */
  display: flex;
  padding: 2px 2px 2px 1px;
  /* padding: 2px 0.45rem 2px 1px; */
  box-sizing: border-box;
}
.dmg {
  position: relative;
  top: 0;
  left: -1px;
  display: block;
  box-sizing: border-box;
  border-radius: 30%;
  max-width: 0.88rem;
  height: 0.94rem;
  line-height: 0.8rem;
  font-size: 0.86rem;
  white-space: nowrap;
  overflow: visible;
}
.disabled {
  background-color: #ffffff2f;
  /* background-color: transparent; */
  /* background-color: #002fff88; */
  opacity: 90%;
}
.disabled .damageHolder {
  /* visibility: hidden; */
  /* width: 0.4rem; */
}
.disabled .dmg {
  /* display: none; */
}

.disabled .diceHolder {
  /* width: 1.5rem; */
  /* min-width: 0; */
  /* visibility: hidden; */
  cursor: not-allowed;
}
/* .disabled .diceHolder > div {
  opacity: 90%;
} */
.disabled:after {
  z-index: 150;
  /* disabled piece */
  border-radius: 20px;
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #434343;
  background-color: #441111;
  /* background-color: transparent; */
  /* background-color: #ff0000a8; */
  opacity: 40%;
  box-shadow: var(--box-shadow);
  cursor: not-allowed;
}
/* .piece { */
.fulfilled {
  /* fulfilled piece */
  background-color: #fcfbdb5d;
  background-color: #fcfbdbc2;
  background-color: #d0ff92c2;
  background-color: #85ce25e2;
  background-color: #62a807c6;
  /* background-color: transparent; */
  opacity: 80%;
  opacity: 70%;
}
.fulfilled .diceHolder > div,
.fulfilled .requiredHolder {
  opacity: 60%;
  /* opacity: 100%; */
}

.fulfilled .displayedBodyPart {
  opacity: 20%;
}
.fulfilled .dmg,
.fulfilled .x2 {
  opacity: 70%;
}
.fulfilled .modifier {
  /* display: none; */
  opacity: 20%;
  /* visibility: hidden; */
}

.fulfilled:hover .dmg,
.fulfilled:active .dmg,
.fulfilled:focus .dmg,
.fulfilled:hover .requiredHolder,
.fulfilled:active .requiredHolder,
.fulfilled:focus .requiredHolder,
.fulfilled:hover .modifier,
.fulfilled:active .modifier,
.fulfilled:focus .modifier,
.fulfilled:hover .diceHolder > div,
.fulfilled:active .diceHolder > div,
.fulfilled:focus .diceHolder > div {
  /* width: fit-content; */
  display: block;
  opacity: 100%;
}

.fulfilled:hover,
.fulfilled:active,
.fulfilled:focus {
  opacity: 100%;
  background-color: #b9ff5ed5;
  /* background-color: transparent; */
}
/* .piece { */
.waiting {
  /* piece waiting to be fulfilled */
  background-color: #fffed6df;
  /* background-color: transparent; */
}
