.dice {
  z-index: 4;
  position: relative;
  display: block;
  min-width: 0.7rem;
  max-width: 2rem;
  height: 1rem;
  margin: 0;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  padding: 2px 3px 0px 6px;
  padding: 2px 1px 0px 7px;
  line-height: 1.3rem;
  line-height: 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: ease-in-out 300ms;
}
.removing,
.appearing {
  transform: rotate(180deg) scale(0.01);
}
.dice:hover,
.dice:focus,
.dice:active {
  z-index: 200;
  transform: scale(1.4);
}
.dice::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 6%;
  height: 8%;
  left: 0.7rem;
  top: 0.7rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: #fff 0px 0px 5px 5px;
  opacity: 100%;
  transition: ease-in-out 300ms;
}
.dice::before {
  border-radius: 3px;
}
.diceMaxCover {
  z-index: 8;
  position: absolute;
  box-sizing: border-box;
  left: -1px;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: color 0.1s ease-in-out, height 0.4s ease-in-out;
}
.diceMaxCover:hover,
.diceMaxCover:active,
.diceMaxCover:focus {
  z-index: 4;
  height: 200%;
  width: 100%;
  border-radius: 4px;
  color: var(--color);
  transition: height 0.1s ease-in-out, color 0.4s ease-in-out;
}
.diceMaxCover:hover::before,
.diceMaxCover:active::before,
.diceMaxCover:focus::before {
  content: "";
  position: absolute;
  z-index: -100;
  box-sizing: border-box;
  left: 0.1rem;
  top: 1.3rem;
  height: 34%;
  width: 80%;
  border-radius: 0 0 50% 50%;
  color: var(--color);
  background-color: #ffffec;
  box-shadow: 0 0 1px 1px #ffffec;
  opacity: 92%;
  transition: ease-in-out 300ms;
}
.icon {
  z-index: -1;
  position: absolute;
  height: 1.2rem;
  left: -3px;
  top: 1px;
  border-radius: 4px;
  opacity: var(--dice-icon-opacity);
  overflow: hidden;
  font-size: 0.7rem;
}
.physical::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #fcff5a 0px 0px 2px 1px;
  background-color: #ffcb1f;
}
.physical::after {
  background-color: #fff8a7;
  box-shadow: #fff8a7 0px 0px 5px 5px;
}

.magic::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #b9ffea 0px 0px 2px 1px;
  background-color: #52d5f6;
}
.magic::after {
  background-color: #b9ffea;
  box-shadow: #b9ffea 0px 0px 5px 5px;
  /* box-shadow: #bc0000 0px 0px 5px 5px; */
}
.elemental::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ffe9bd 0px 0px 2px 1px;
  background-color: #ff79ba;
}
.elemental::after {
  background-color: #ffe9bd;
  box-shadow: #ffe9bd 0px 0px 5px 5px;
  /* box-shadow: #bc0000 0px 0px 5px 5px; */
}
.trait::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #f6ff00 0px 0px 2px 1px;
  background-color: #799e00;
}
.trait::after {
  background-color: #94cd32;
  box-shadow: #94cd32 0px 0px 5px 5px;
}
.any::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 1rem;
  left: -1px;
  top: 3px;
  box-shadow: #3636368d 0px 0px 1px 1px, inset #ffffffe6 0px 0px 1px 1px,
    inset #ff00f2 -1px -2px 2px -1px, inset #ffee00 2px -1px 2px -1px,
    inset #4dff00 1px 2px 2px -1px, inset #00d9ff -2px 1px 2px -1px,
    inset #001d1439 0px 0px 2px 1px;
  /* inset #aae2dc8b 1px 1px 2px 1px, inset #2f001a2b -1px -1px 2px 2px; */
  /* box-shadow: #3636368d 0px 0px 1px 1px, inset #fffdef 0px 0px 2px 1px,
    inset #ff00f2 -1px -2px 2px -1px, inset #ffee00 2px -1px 2px -1px,
    inset #4dff00 1px 2px 2px -1px, inset #00d9ff -2px 1px 2px -1px; */
  background-color: #c9c6bd;
  background-color: #bba8cc;
  background-color: #c9bad7;
  background-color: #f3f1ed;
}
.notRolled::before {
  border-radius: 0px 22px 22px 42px;
}

.selected {
  /* z-index: -100; */
  z-index: 100;
  transform: scale(1.2);
  position: relative;
}
.selected::after {
  z-index: -100;
  content: "";
  position: absolute;
  width: 100%;
  /* height: 100%; */
  height: 1rem;
  left: -1px;
  top: 3px;
  border-radius: 3px;
  background-color: transparent;
  /* background-color: #66ff00a9; */
  box-shadow: -1px 0px 14px 5px #f5ff3a, #3636368d 0px 0px 1px 1px;
  box-shadow: 0px 0px 4px 5px #fcffe5, #3636368d 0px 0px 1px 1px;
  /* box-shadow: 1px 1px 1px red; */
  opacity: 100%;
}
.notRolled.selected::after {
  border-radius: 0px 22px 22px 42px;
}
