.miniature h1,
.miniature h2,
.miniature h3,
.miniature h4 {
  margin-top: 0px;
}
.miniature {
  position: relative;
  display: flex;
  display: block;
  box-sizing: border-box;
  border-radius: 20px;
  min-width: 9rem;
  width: min-content;
  max-width: 16rem;
  height: 7.1rem;
  margin: 0;
}
.padding {
  padding: 0.8rem;
}
/* .miniature::after {
  content: "";
  z-index: 100;
  position: relative;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  top: -124px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;

  opacity: 0.3;
} */
.gold {
  z-index: 2;
  /* color: #000; */
  /* background-color: #ff0000; */
  display: block;
  height: min-content;
  text-align: right;
  max-height: 100%;
  max-width: 100%;
  font-size: 2.6rem;
  line-height: 2.3rem;
}

.textBoxContainer {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.bgColorFront {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  background-color: #ffe65a88;
  /* visibility: hidden; */
}

.textBoxBack {
  z-index: -2;
  position: absolute;
  left: -3rem;
  top: -4rem;
  font-size: 11rem;
  color: #000;
  opacity: 0.6;
}

.imgFrame {
  /* aspect-ratio: 1/1; */
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  padding: 0.1rem;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background-color: #ffee90;
  position: relative;
  z-index: 2;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  /* display: inline-block; */
  object-fit: cover;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
    inset 0px -2px 4px -1px #ad8fb93e, inset 0px -4px 5px 0px #ad8fb926,
    inset 0px -1px 10px 0px #ad8fb918, 0px 0px 4px 1px #000;

  /* background-color: aquamarine; */
  /* overflow: visible; */
}
