.header {
  box-sizing: border-box;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 1.5rem;
  padding-top: 0;
  width: 100%;
  margin: 0 var(--margin-component);
  background-color: transparent;
  /* background-color: blue; */
}
/* .header:focus,
.header:hover,
.header:active {
  background-color: #d6d6d6;
  opacity: 100%;
} */
.themeDark {
  color: #b5b5b5;
  background-color: #2b1b36;
}

.leftNav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.rightNav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
