.header {
  box-sizing: border-box;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 48px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 0.3rem;
  padding-top: 0;
  padding-bottom: 0.3rem;
  width: 100%;
  /* box-shadow: var(--box-shadow); */
  /* background-color: var(--bg-regular); */
  /* border: var(--border); */
  /* border-radius: 0 0 var(--border-radius) var(--border-radius); */
  margin: 0 var(--margin-component);
  /* background-color: #0000000d; */
  background-color: transparent;
  /* opacity: 60%; */
}
/* .header:focus,
.header:hover,
.header:active {
  background-color: #d6d6d6;
  opacity: 100%;
} */
.themeDark {
  color: #b5b5b5;
  background-color: #2b1b36;
}

.leftNav {
  width: 100%;
}
.rightNav {
  width: 100%;
  display: flex;
  /* justify-content: flex-start; */
  flex-direction: row-reverse;
}

.button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.button:hover {
  opacity: 1;
}

.label {
  font-size: 1.6em;
  position: relative;
  top: -1px;
}

.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 8px;
  padding-right: 4px;
}

.input::placeholder {
  font: inherit;
  font-size: 18px;
}
