.navLink {
  display: inline-block;
  position: relative;
  top: -10px;
  border: 0;
  transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  padding: 0.5em 0.6em 0.3em 0.6em;
  margin: 0 0.3em;
  margin: 0 1em;
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;

  box-shadow: var(--box-shadow);
  background-color: var(--bg-regular);
  border: var(--border);
  border-radius: var(--border-radius);
  margin: 0 0.16rem;
  background-color: #0000000d;
  background-color: var(--bg-gentle);
  cursor: default;
  line-break: strict;
  word-break: keep-all;
}
.navLink:hover:not(.inactive):not(.disabled) {
  cursor: pointer;
  opacity: 1;
  /* color: inherit; */
  /* color: #fff; */
  background-color: var(--bg-highlighted-solid);
  transform: scale(1.1);
}
.disabled {
  cursor: not-allowed;
  z-index: 2;
}
.disabled::after {
  z-index: 3;
  border-radius: var(--border-radius);
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #00000052;
  background-color: #0000001e;
}
.crossed {
  text-decoration: line-through;
}
.completed {
  /* color: chartreuse; */
  /* background-color: #60a837; */
  background-color: #d5ffb3;
  box-shadow: var(--box-shadow), var(--box-shadow-inset-dark);
  opacity: 0.5;
}
.completed::before {
  z-index: 2;
  width: 100%;
  height: min-content;
  text-align: right;
  content: "✔️";
  position: absolute;
  bottom: -0.1em;
  /* bottom: 15%; */
  right: -0.08em;
  top: 38%;
  /* left: 26%; */
  font-size: 1.3em;
  background-color: transparent;
  /* background-color: rgba(137, 43, 226, 0.561); */
}
.warning {
  /* color: chartreuse; */
  background-color: #ff7272;
  color: #4f0000;
  /* opacity: 0.7; */
}
/* .active { */
/* background-color: #ffffff55; */
/* transform: scale(1.1); */
/* color: red; */
/* background-color: #ff000030 !important; */
/* color: greenyellow !important; */
/* transform: scale(0.8) !important; */
/* } */
