.navLink {
  display: inline-block;
  position: relative;
  top: -10px;
  /* width: 48px; */
  /* height: 48px; */
  border: 0;
  /* opacity: 0.6; */
  transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  /* padding: 0.5em 0.8em; */
  padding: 0.5em 0.6em 0.3em 0.6em;
  margin: 0 0.3em;
  margin: 0 1em;
  text-decoration: none;
  /* color: #662d8f; */
  color: inherit;
  /* font-weight: bold; */
  font-size: 1.4rem;
  /* border: 2px solid #b795d0; */

  box-shadow: var(--box-shadow);
  background-color: var(--bg-regular);
  border: var(--border);
  /* border-radius: 0 0 var(--border-radius) var(--border-radius); */
  border-radius: var(--border-radius);
  /* margin: 0 var(--margin-component); */
  margin: 0 0.2em;
  background-color: #0000000d;
  background-color: var(--bg-gentle);
  cursor: default;
  line-break: strict;
  word-break: keep-all;
}
.navLink:hover:not(.inactive) {
  cursor: pointer;
  opacity: 1;
  /* color: inherit; */
  /* color: #fff; */
  background-color: var(--bg-highlighted-solid);
  transform: scale(1.1);
}
.crossed {
  text-decoration: line-through;
}
/* .active { */
/* background-color: #ffffff55; */
/* transform: scale(1.1); */
/* color: red; */
/* background-color: #ff000030 !important; */
/* color: greenyellow !important; */
/* transform: scale(0.8) !important; */
/* } */
