.list {
  padding: 1rem 16rem 20px 20px;
  padding: 1rem 0;
  width: fit-content;
  margin: 0 auto;
  box-sizing: border-box;
  /* background-color: purple; */

  display: flex;
  flex-direction: row; /* or column */
  justify-content: flex-start;
  align-items: flex-start; /* or other alignment values like flex-start, flex-end, center, baseline, stretch */
  flex-wrap: wrap; /* optional, allows items to wrap to the next line */
}
