.avatar {
  position: relative;
  display: block;
  box-sizing: border-box;
  /* top: 0;
  left: 0; */
  /* width: min-content;
  height: min-content; */
  margin: 0;
}
.shrink {
  /* position: relative; */
  /* box-sizing: border-box; */
  /* top: -0.6rem; */
  margin: 0 0.16rem;

  display: inline-block;
  box-sizing: border-box;
  height: 3rem;
  width: 3rem;
  line-height: 1.4rem;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: blue;
}
.shrink .avatarBox {
  /* display: none; */
  position: absolute;
  transform: scale(0.4);
  line-height: 7rem;
  width: 3rem;
  height: 3rem;
  /* top: -0.5rem; */
  top: -0.9rem;
  /* left: -0.8rem; */
  left: -0.9rem;
  /* overflow: hidden; */
}
.lv {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.2rem;
  font-size: 2rem;
  /* display: flex;
  flex-direction: column-reverse; */
  /* align-items: flex-end; */
  /* justify-content: center; */
  border-radius: 20px 20px 0 0;
  /* background-color: #f6ffd5db; */
  /* text-align: center; */
  overflow: hidden;
  font-weight: bold;
}
.shrink .lv {
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  top: 0.4rem;
  font-size: 1rem;
  line-height: 1.4rem;
  height: 2.7rem;
  width: 3rem;
  border-radius: var(--border-radius);
}
.lv::after {
  z-index: 1;
  content: attr(data-text);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.4rem;
  left: 0;
  font-size: 2.6rem;
  font-weight: normal;
  text-align: center;
  /* border-radius: 20px 20px 0 0; */
  /* background-color: #ff80009a; */
  background-color: #f6ffd5db;
  background-color: #ffffffc5;
  box-shadow: #f6ffd5db 0 2px 1px 0px;
  /* box-shadow: #ffffffbb 0 2px 1px 0px; */
  box-shadow: #ffffffc5 0 2px 1px 0px;
  /* box-shadow: ; */
  color: var(--color);
  color: black;
  opacity: 100%;
}
.shrink .lv::after {
  padding-top: 0.4rem;
  font-size: 1.4rem;
  /* height: 2.7rem;
  width: 3rem; */
}
