.item {
  /* background-color: #5c784c; */
  position: relative;
  min-width: 120px;
  height: 120px;
  overflow: visible;
  border-radius: 20px;
  margin: 3px;
  width: max-content;
  width: 8.5rem;
  width: 7.8rem;
  height: 7.8rem;
  display: inline-block;
}
.canFire {
  position: relative;
  box-shadow: -1px 0px 14px 6px #7ae621;
  background-color: #7ae621;
  /* width: 7.8rem;
  height: 7.5rem; */
}

.button {
  z-index: 2;
  overflow: visible;
  position: absolute;
  top: 0px;
  left: 0;
  margin: 0px 4px 1px 0px;
  width: 3rem;
  /* height: 7.8rem; */
  width: 100%;
  width: 7.5rem;
  height: 7.5rem;
  background-color: #8eff312c;
  background-color: #e8ffb590;
  justify-content: center;
  border: transparent;
  border-radius: 20px;
  font-size: 5rem;
  line-height: 2rem;
  cursor: pointer;
  transition: 250ms;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.1;
}
.canFire .button {
  z-index: 4;
  /* opacity: 0.04; */
  opacity: 100%;
}
.button:hover,
button:focus,
.button:active {
  /* z-index: -1; */
  opacity: 0.04;
}

/* .selected {
  background-color: #c3ff91;
  box-shadow: 1px 1px 1px red;
  box-shadow: -1px 0px 14px 6px #7ae621;
} */

.bar {
  z-index: 2;
  position: absolute;
  left: 0;
  height: 2.2rem;
  height: 1.9rem;
  width: 7.5rem;
  height: 7.5rem;

  /* top: 0;
  border-radius: 20px 20px 0 0; */

  bottom: 0.3rem;
  border-radius: 0 0 20px 20px;

  border-radius: 20px;

  /* box-shadow: #ffffffbb 0 -2px 1px 0px; */
  /* background-color: #ffffffbb; */
  /* background-color: #ff24e58d; */
  text-align: left;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  z-index: 2;
  /* margin: 2px 4px; */
  /* display: inline; */
  display: block;
  color: #000000a0;
  /* height: 1.73rem; */
  /* max-height: 2rem; */
  width: 100%;
  height: 100%;
  font-weight: bold;
  z-index: 3;
  line-height: 0.84rem;
  text-align: center;
  /* background-color: #00ffe5a5; */
  /* line-break: anywhere; */
}

.name {
  z-index: 2;
  min-width: 120px;
  position: absolute;
  position: relative;
  display: block;
  overflow: hidden;

  bottom: 0rem;
  border-radius: 0 0 20px 20px;

  box-shadow: #ffffffbb 0 -1px 1px 0px;
  background-color: #ffffffbb;

  color: #000000a0;
  height: 1.73rem;
  height: 2.9rem;
  font-weight: bold;
  z-index: 3;
  line-height: 0.84rem;
  text-align: center;
}

.iconBag {
  position: absolute;
  position: relative;
  z-index: 3;
  width: 7.5rem;
  height: 1.5em;
  left: 0;
  transform: scaleX(1.5) scaleY(1.3) translateY(-0.1rem);
  /* background-color: #fffdf037; */

  /* bottom: 0.1rem;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0 0 20px 20px; */

  top: 0.1rem;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px 20px 0 0;

  /* padding: 0.1rem 0.5rem 0.5rem 0.5rem; */
  padding: 0 0.5rem 1rem 0.5rem;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  flex-flow: row-reverse;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  column-gap: 3px;
}
.disabled .iconBag {
  z-index: 999;
}
.canFire .iconBag {
  z-index: 1;
}
.disabled {
  /* z-index: 0; */
  display: block;
  position: relative;
  /* background-color: #000000; */
  /* opacity: 50%; */
  /* visibility: hidden; */
}
.disabled::after {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  /* background-color: #000000; */
  background-color: transparent;
  /* opacity: 40%; */
  /* visibility: hidden; */
}
/* .displayOnly{} */
