/* @import-normalize;  */
:root {
  --box-shadow: -1px -1px 2px 0px #6f6f6f8e, 1px 1px 3px 0px #2d2d2da9;
  --box-shadow-selected: -1px -1px 2px 0px #6f6f6f8e, 1px 1px 3px 0px #2d2d2da9,
    0px 0px 4px 5px #fcffe5, #3636368d 0px 0px 1px 1px;
  /* --box-shadow-selected-item: 0px 0px 5px 4px #88e14d, 0px 0px 5px 8px #b6ef66,
    0px 0px 8px 6px #ffffff; */
  --box-shadow-selected-item: 0px 0px 0px 0.5rem #eeffcf;
  --box-shadow-favorite-item: 0px 0px 0px 0.5rem #ffcfdf;
  --box-shadow-warning: -1px -1px 2px 0px #6f6f6f8e, 1px 1px 3px 0px #2d2d2da9,
    0px 0px 16px 0px #ff6822, #3636368d 0px 0px 1px 1px;
  --box-shadow-recommended: -1px -1px 2px 0px #6f6f6f8e,
    1px 1px 3px 0px #2d2d2da9, 0px 0px 16px 0px #7eff22,
    #3636368d 0px 0px 1px 1px;
  /* --box-shadow-recommended-glow: -1px -1px 2px 0px #6f6f6f8e,
    1px 1px 3px 0px #2d2d2da9, 0px 0px 16px 4px #94ff22,
    #3636368d 0px 0px 1px 1px; */
  --box-shadow-detailed: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
    inset 0px -2px 4px -1px #ad8fb93e, inset 0px -4px 5px 0px #ad8fb926,
    inset 0px -1px 10px 0px #ad8fb918, 0px 0px 4px 1px #000;
  --box-shadow-inset: inset 1px 1px 0px 1px lightgray,
    inset -1px -1px 0px 1px #f1f1f1, inset -70px -30px 40px 0px #f7f7f788;
  --box-shadow-inset-dark: inset 1px 1px 0px 1px #54545455,
    inset -1px -1px 0px 1px #dddddd59, inset -70px -30px 40px 0px #2c2c2c1f;
  --box-shadow-inset-dark-detailed: inset -70px -30px 40px 0px #2c2c2c1f,
    inset 10px 0px 4px -8px #0000009e, inset -9px 0px 4px -9px #0000009e;
  --box-shadow-inset-small: inset 1px 1px 0px 1px lightgray,
    inset -1px -1px 0px 1px #f1f1f177, inset -70px -30px 40px 0px #ffffff18;
  --box-shadow-inset-shine-light: inset 2px 1px 2px 0px #fdffc9,
    inset 0px 0px 2px 0px #340f00;
  --box-shadow-inset-shine-green: inset 2px 1px 2px 0px #b7ff7480,
    inset 0px 0px 2px 0px #062900;
  --border-radius: 16px;
  /* --border-radius-small: 6px; */
  --border-inset: 2px solid white;
  --border: 0px solid lightgray;
  --border-medium: 1px solid red;
  --bg-highlighted: #c6ffea6d;
  /* --bg-highlighted-solid: #d5f7ec; */
  --bg-highlighted-solid: #e5ffbd;
  --bg-recommended: #baff79;
  /* --bg-recommended-glow: #d7ff96; */
  --bg-warning: #ffbc79;
  /* --bg-outline: #d5f4ff; */
  --bg-outline: #00344c78;
  --bg-regular: white;
  --bg-gentle: whitesmoke;
  --bg-milky: #e4fbff2e;
  --bg-murky: #16002118;
  --margin-component: 2px;
  --txt-disabled: dimgray;
  --online: rgb(138, 230, 0);
  --offline: dimgray;
  --duration-short: 100ms;
  --scale-medium: scale(1.1);
  --scale-small: scale(1.04);
  --scale-shrink: scale(0.82);
  --dice-icon-opacity: 80%; /* 38% */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: "100vh";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  font-size: 40;
  color: "#010101";
  background-color: #ededed;
  /* background-color: #000000; */
  background: linear-gradient(#0000000d #010101);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

ul {
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
#root {
  min-height: 100vh;
}
.app {
  flex-wrap: wrap;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40;
  color: #010101;
}
.container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: "100%";
  box-sizing: "border-box";
}
