.nothing {
  /* forest green */
  color: #005a124a;
  background-color: #ddd900;
  /* caastle purple */
  color: #32005a4a;
  background-color: #dd6b00;
  /* mountain black */
  color: #ff55004a;
  background-color: #0080cf;
  /* isles aqua */
  color: #00b7ff4a;
  background-color: #00ddc7;
  /* valley orange*/
  color: #ffc8004a;
  color: #ff91004a;
  background-color: #dd0060;
  background-color: #0c7800;
}
