.nothing {
  /* forest green */
  color: #005a124a;
  background-color: #ddd900;
  /* caastle purple */
  color: #32005a4a;
  background-color: #dd6b00;
  /* xx */
  color: #32005a4a;
  background-color: #dd6b00;
}
